body {
    background-color:#C2A1DE;
}

.contenedor {
    display: flex;
    align-items: center;
}

.contenedor img {
    margin-right: 10px;
}

.contenedor p{
    color: rgb(0, 0, 0);
}
.enlaces {
    color: rgb(0, 0, 0);
}

.titulo {
    background-color: #7E2CF2;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.formulario {
    background-color: #a05dff;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    border-radius: 10px;
    text-align: center;
}
.redes {
    background-color: #a05dff;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    border-radius: 10px;
    text-align: center;
}

.informacion {
    background-color: #a05dff;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    border-radius: 10px;
    text-align: center;
}

.enlaces {
    background-color: #a05dff;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    border-radius: 10px;
    text-align: center;
}
.enlaces_finales {
    background-color: #bdfcc4;
    padding: 20px;
    margin: 30px auto;
    width: 95%;
    border-radius: 10px;
    text-align: center;
}